/* All Responsive
================================================== */  
@media only screen and (max-width: 959px) {
    
  /*hide things*/


  #toplink {
    display: none !important;
  }
    
  /*logo*/
  #logo {
    text-align: center;
    float: left;
  }

  #logo img {
    display: inline-block;
  }

  #logo h1 a, #logo h2 a {
    display: block;
    float: none;
  }
    
  /*navigation top menu*/
  #navigation {
    height: 35px;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 0;
  }

  #navigation .selector {
    width: 100%;
    color: #fff;
    font-weight: bold;
    line-height: 35px;
    text-indent: 40px;
  }

  #navigation .selector {
    height: 35px;
    width: 180px;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    cursor: pointer !important;
  }

  #navigation .selector:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
  }

  #navigation .selector select:focus {
    outline: 0;
  }

  #navigation .selector span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #navigation .selector select {
    position: absolute;
    top: 0px;
    left: 0;
    height: 35px;
    background: none;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #666 !important;
    cursor: pointer;
  }

  #navigation .selector {
    margin: 0;
    padding: 0;
    border: none;
  }

  #navigation .selector option {
    background: #000;
    -webkit-appearance: none;
    padding: 10px 40px;
    border: none;
    border-bottom: 1px solid #222;
  }
    
  /*display dropdown nav*/
  #navigation .selector {
    display: inline-block;
  }
  .three-steps div {width: 220px; margin-right: 20px;}
  .three-steps a {min-height: 100px;}
  
}


/* Tablet (Portrait) = Design for a width of 730px
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

  /*main*/
  #wrap {
    width: 760px;
  }
  #content {
    width: 440px;
  }
  #sidebar {
    width: 210px;
  }
  .sidebar-bg{
    background-image: url("../images/sidebar-bg-tablet.png");
  }

  .meta li{
    display: block;
  }
  
    
  /*footer*/
  .preface-block, .footer-block {
    float: left;
    width: 210px;
    margin-right: 20px;
  }
  
  
}



/* Mobile (Portrait) = Design for a width of 280px
================================================== */

@media only screen and (max-width: 767px) {

  #wrap {
    width: 98%;
    margin: 4px auto;
  }
  .container {
      padding: 30px 10px 30px 10px;
  }
  #logo,
  #site-logo {
      max-width: none;
      padding: 5px 0 0;
  }
  #logo {
      position: relative;
  }
  #header-right {
      float: none;
      width: 90%;
      margin-left: 20px;
  }
  #header-right .block,
  #header-right #block-search-form .form-item-search-block-form input,
  #header-right #block-search-form{
      width: 100%;
      display: none;
  }
  #header-right #block-search-form .form-item-search-block-form input{
      width: 77%;
  }
  #content {
    width: 100%;
  }
  .node-teaser img {
    float: none;
  }
  ul.inline li {
    display: block;
    padding: 5px 0;
    width: 96%;
  }
  ul.inline li a{
    display: block;
    width: 100%;
    text-align: center;
  }
  #comments ul.inline li,
  #comments ul.inline li a {
    width: auto;
    display: inline;
  }

  .preface-block, .footer-block {
    width: 100%;
  }

/*  .comment .attribution, .comment .comment-text { 
    display: inline-block;
  }
  */
  
  .sidebar-bg{
    background-image: none;
    margin-bottom: 0;
  }
  
  #sidebar{
    width: 98%;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
  }
  
  .meta li{
    display: block;
  }
  .comment-form #edit-submit {
  width: 100%;
  }
  #preface-area {padding: 10px}
  .three-steps div {width: 100%}
  .page-user .ds-2col > .group-left {
  float: left; /* LTR */
  width: 100%;
}
.page-user .ds-2col > .group-left .view,
.page-user .ds-2col > .group-left .node-form {
  margin-right: 0;
}

.page-user .ds-2col > .group-right {
  width: 100%;
}
}

@media only screen and (max-width: 380px) {

  /*input size adjust*/
  .webform-container-inline input {
    width: 96%;
  }
  
}

/* Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  #wrap {
    width: 98%;
  }
}
